#recorder-container {
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}

.record-button{
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary);
}

.record-button:focus{
    outline:none
}

.record-button:hover{
    color: var(--focus)
}

a[href^="blob:"]{
    text-decoration: none;
    color: var(--secondary)
}

a[href^="blob:"]:hover{
    text-decoration: none;
    color: var(--focus)
}

.horizontal{
    display: flex;
    flex-direction: row;
}
