.player {
    position: absolute;
    bottom: 0px;
}

#play {
    left: 0px
}

#pause {
    left: 100px;
}

#stop {
    left: 200px;
}

.upload {
    position: absolute;
    top: 0px;
}

#upload-input{
    left:0px
}

#upload-button{
    left: 200px
}

#upload-text {
    left: 400px;
}