#play {
    left: 0px
}

#pause {
    left: 100px;
}

#stop {
    left: 200px;
}

.top {
    position: absolute;
    top: 0px;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.narrow {
    width: 100px;
}

.spacer {
    width: 100%;
}

.styled-button{
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

input[type="file"] {
    display: none;
}

#upload-input{
    left:0px;
}

#upload-button{
    margin-top: 10px;
    width: 50px
}

#upload-text {
    left: 400px;
}

#slider-container{
    width: 300px;
    left: 600px;
    display: flex;
    flex-direction: row;
}

canvas {
    outline: none;
    border:none;
}