#play {
    left: 0px
}

#pause {
    left: 100px;
}

#stop {
    left: 200px;
}

.right {
    position: absolute;
    right: 0px;
}

.top {
    position: absolute;
    top: 0px;
}

.bottom {
    position: absolute;
    bottom: 0px;
    align-items: flex-end;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
}


.narrow {
    width: 100px;
}

.spacer {
    flex-grow: 1;
}

.styled-button{
    margin: 5px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary);
}

.styled-button:focus{
    outline:none
}

.styled-button:hover{
    color: var(--focus)
}

input[type="file"] {
    display: none;
}

#upload-input{
    left:0px;
}

#upload-button{
    padding: 0;
    margin-top: 20px;
    width: fit-content;
}

#upload-text {
    left: 400px;
}

#slider{
    position: absolute;
    right: -40px;
    bottom: 0px;
}

#slider-value{
    position: absolute;
    right: 80px;
    bottom: 0px;
    margin: 20px;
}


canvas {
    outline: none;
    border:none;
}

.loader-container, .top, .bottom {
    grid-area: 1 / 1;
}

#view-container{
    display: grid;
}

.background {
    position: absolute;
    top: 0%;
    background: radial-gradient(rgba(217, 217, 217, 0.5), rgba(255, 255, 255, 0.5));
    height: 100%;
    width: 100%;
    z-index: 10;
}

.loader {
    width: 100px;
	height: 100px;
}

.loader:before {
    z-index: 11;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    content: '';
	width: 350px;
	height: 350px;
	border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}
